.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
dist_*
.hsenv_*
TAGS
.diagrams-cache
/.cabal-sandbox/
/cabal.sandbox.config
